.containerFormImg{
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.imageForm{
    width: 100%;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    gap: 10px; /* Espaço entre os elementos */
}

.input-group input,
.input-group textarea,
.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #f9f9f9;
    border: 1px solid #555;
    border-radius: 4px;
    font-family: inherit;
    font-size: 20px;
    transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #c0c0c0;
    outline: none;
}

.input-group button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #fefefe;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Helvetica Light", sans-serif;
    background-color: #fefefe;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #c0c0c0;
}

@media (max-width: 768px) {
    .containerFormImg{
        display: grid; grid-template-columns: 1fr;
    }
  }
