.conteudo-sobre-nos {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 200px;
    max-width: 1200px;
    margin: 0 auto;
}


.imagemContainer>img {
    width: 100%;
}

.descricao {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #c0c0c0;
}

.sobreNos-container {
    background-image: url('../assets/imagens/portfolio.jpg');
    /* Substitua pelo caminho correto da imagem de fundo */
    background-size: cover;
    /* Isto fará com que a imagem cubra toda a seção */
    background-position: center;
    /* Isto centralizará a imagem de fundo */
    background-repeat: no-repeat;
    /* Isto evitará que a imagem se repita */
    color: #fefefe;
    display: flex;
    align-items: center;
    height: 100vh;
}


.sobreNos-content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: flex-start;
}

blockquote {
    font-family: "Helvetica Light", sans-serif;
    color: #fefefe;
    border-left: 4px solid #c0c0c0;
    padding-left: 20px;
    margin: 50px 0;
    font-size: 24px;
    font-style: italic;
}

cite {
    font-family: "Montserrat", sans-serif;
    color: #c0c0c0;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.sobreNos-texto>h2 {
    font-family: "Helvetica Light", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.sobreNos-texto>p {
    font-family: "Montserrat", sans-serif;
}

.sobreNos-container ul {
    list-style-type: none;
    padding-left: 0;
}

.sobreNos-container li {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Helvetica Light", sans-serif;
    opacity: 0.9;
}

@media (max-width: 1200px) {
    .conteudo-sobre-nos {
        margin: 150px 5%;
    }
}

@media (max-width: 1024px) {
    .conteudo-sobre-nos {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}


@media (max-width: 768px) {
    .conteudo-sobre-nos {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    blockquote {
        font-size: 20px;
    }

    .sobreNos-texto>h2 {
        font-size: 22px;
    }

    .sobreNos-container li {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .descricao {
        font-size: 16px;
    }

    blockquote {
        font-size: 18px;
    }

    .sobreNos-texto>h2 {
        font-size: 20px;
    }

    .sobreNos-container li {
        font-size: 14px;
    }
}